* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #edf2f8;
    padding: 40px;
}

.contenedor {
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.tarjeta {
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.perfil {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.perfil img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.perfil h4 {
    font-size: 14px;
}

.perfil span {
    font-size: 12px;
    opacity: 0.7;
}

.tarjeta h3 {
    font-size: 18px;
    margin-bottom: 12px;
}

.tarjeta p {
    font-size: 14px;
    line-height: 1.5;
    opacity: 0.85;
}

.morada {
    background: #733fc8;
    color: #fff;
    grid-column: span 2;
}

.gris {
    background: #49556b;
    color: #fff;
}

.blanca {
    background: #fff;
    color: #333;
}

.derecha {
    grid-row: span 2;
}

.negra {
    background: #18202d;
    color: #fff;
    grid-column: span 2;
}

@media (max-width: 1200px) and (min-width: 901px) {
    .contenedor {
        grid-template-columns: repeat(2, 1fr);
    }

    .morada,
    .negra {
        grid-column: span 2;
    }

    .derecha {
        grid-row: span 1;
    }

    
    .tarjeta:nth-child(4) {
        grid-column: 1 / 2;
    }

    .tarjeta:nth-child(5) {
        grid-column: 2 / 3;
    }
}


@media (max-width: 900px) {
    .contenedor {
        grid-template-columns: 1fr;
    }

    .morada,
    .negra,
    .derecha {
        grid-column: span 1;
        grid-row: span 1;
    }
}
